In [108]:
import pandas as pd

users_df = pd.read_csv("survey_results_public.csv")

users_df

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,65433,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Apples,Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","On the job training;School (i.e., University, ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65433,65434,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65434,65435,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Social ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65435,65436,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65436,65437,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
count_respondents = users_df["ResponseId"].count()
print (f"1. Кількість респондентів, які пройшли опитування: {count_respondents}")

1. Кількість респондентів, які пройшли опитування: 65437

In [53]:
all_question = users_df.dropna(how="any")
print(f"2. Кількість респондентів, які відповіли на всі запитання: {len(all_question)}")

2. Кількість респондентів, які відповіли на всі запитання: 0

In [112]:
mean_WorkExp = users_df['WorkExp'].mean()
median_WorkExp = users_df['WorkExp'].median()
mode_WorkExp = users_df['WorkExp'].mode()
print (f"3. Значення мір центральної тенденції для досвіду респондентів - середнє: {mean_WorkExp}; медіана: {median_WorkExp}; мода: {mode_WorkExp}")

3. Значення мір центральної тенденції для досвіду респондентів - середнє: 11.46695663901814; медіана: 9.0; мода: 0    3.0
Name: WorkExp, dtype: float64

In [55]:
usremotework = 0
for i in users_df.RemoteWork:
    if i == "Remote":
        usremotework = usremotework+1
print(f"4. Кількість респондентів, які працюють віддалено: {usremotework}")

4. Кількість респондентів, які працюють віддалено: 20831

In [80]:
python_count = 0
only_inform_lang = users_df.LanguageHaveWorkedWith.dropna()
for response in only_inform_lang:
    language_code = response.split(";")
    if "Python" in language_code:
        python_count += 1
total_respondents = len(users_df) 
python_percentage = round((python_count / total_respondents) * 100, 2)

print (f"5. Відсоток респондентів, що програмують на Python: {python_percentage}")

5. Відсоток респондентів, що програмують на Python: 46.94

In [65]:
respons_lern_online = users_df.LearnCodeOnline.dropna().count()
print(f"6. Кількість респондентів, які вчились програмувати за допомогою онлайн курсів: {respons_lern_online}")

6. Кількість респондентів, які вчились програмувати за допомогою онлайн курсів: 49237

In [117]:
inf_for_analize = users_df[["LanguageHaveWorkedWith", "Country", "ConvertedCompYearly"]]
new_table = inf_for_analize.dropna()
filtred_df = new_table[new_table['LanguageHaveWorkedWith'].str.contains(r'\bPython\b', regex=True)]
grouped = filtred_df.groupby("Country")
result_yearly = grouped["ConvertedCompYearly"].agg(["mean", "median"])
print("7. Cередня та медіанна сума компенсації (ConvertedCompYearly) в кожній країні")
result_yearly

7. Cередня та медіанна сума компенсації (ConvertedCompYearly) в кожній країні

                                               mean    median
Country
Afghanistan                             6057.000000    5940.0
Albania                                56295.000000   56295.0
Algeria                                 9053.285714    6230.0
Andorra                               193331.000000  193331.0
Angola                                     6.000000       6.0
...                                             ...       ...
Venezuela, Bolivarian Republic of...   21500.000000    7100.0
Viet Nam                               14014.562500   10180.0
Yemen                                  10297.333333    5333.0
Zambia                                 28123.666667   22803.0
Zimbabwe                               37500.000000   18000.0

[151 rows x 2 columns]

In [116]:
education_converted = users_df[["ConvertedCompYearly", "EdLevel"]]
filtr_education_converted = education_converted.dropna()
sorted_filtr_education_converted = filtr_education_converted.sort_values(by = "ConvertedCompYearly", ascending = False)
print("8. Pівні освіти мають 5 респондентів з найбільшою компенсацією")
sorted_filtr_education_converted[:5]

8. Pівні освіти мають 5 респондентів з найбільшою компенсацією

       ConvertedCompYearly                                         EdLevel
15837           16256603.0    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
12723           13818022.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
28379            9000000.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)
17593            6340564.0    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
17672            4936778.0  Professional degree (JD, MD, Ph.D, Ed.D, etc.)